body {
  font-family: 'Roboto', sans-serif;
  background-color: #101211;
  color: #e0e0e6;
  line-height: 1.6;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.container {
  width: 80%;
  margin: 50px auto; /* Increased top/bottom margin */
  padding: 30px;
  background-color: #101211; /* White background for the container */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  animation: fadeInFromTop 0.3s ease-in-out;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #e8e3e3; /* Darker heading color */
}

.input-group {
  display: flex;  /* Use flexbox for better control */
  align-items: center;  /* Align items vertically in the center */
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold; /* Bolder labels */
}

input[type="text"] {
  width: 30%;  /* Adjust the width as needed */
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 20px;
}

#suggestions-prix {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
}

#suggestions-prix li {
  padding: 5px;
  cursor: pointer;
}

#suggestions-prix li:hover {
  background-color: #f0f0f0;
}

button {
  background-color: #435465;
  color: white;
  padding: 8px 15px; /* Reduced padding */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.create-button {
  display: block;
  width: 100%;
  margin-top: 30px;
  font-size: 18px; /* Larger font size */
  background-color: #435465; /* Green button color */
}

.create-button:hover {
  background-color: #2c343f; /* Darker green on hover */
}

img {
  max-width: 100%; /* Ensure images don't exceed their container width */
  top: 50%;      /* Position halfway down the page */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent image from overflowing its container */
  margin: 20px auto; /* Center the image and add some space around it */
  border-radius: 5px; /* Add rounded corners (optional) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow (optional) */
}

/* Example media query for screens smaller than 768px */
@media (max-width: 768px) {
  .container {
    width: 95%; /* Make the container wider on small screens */
    padding: 20px;
  }

  .input-group {
    flex-direction: column; /* Stack input fields vertically */
    align-items: flex-start;
  }

  input[type="text"] {
    width: 100%; /* Make input fields full width */
    margin-bottom: 10px;
  }
}

#AlgorithmButton {
  display: block; /* Make the button a block-level element */
  position: relative;
  margin: 20px auto; /* Center horizontally, add vertical margin */
  z-index: 5; /* Ensure button is above image */
}

.content-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center items horizontally */
  animation: fadeInFromTop 0.3s ease-in-out;
}

.algorithm-container {  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center items horizontally */
  animation: fadeInFromTop 0.3s ease-in-out;
  gap: 20px;
}

.algorithm-container button {
  padding: 15px 50px;
  font-size: 1.2em;
}

#newAlgorithmButton {
  background-color: #4CAF50; /* Green background color */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px; /* Add a slight border radius for a rounded look */
}

#findMovieButton {
  order: 1; /* Change the order to position after the image */
  z-index: 5;
  top: 60px;
  position: relative; /* Position relatively within the flex container */
  padding: 20px 30px;
  font-size: 18px;
}

#image {
  order: 2;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #101211;
  padding: 20px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  background-color: #4CAF50; /* Example color */
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown.active .dropdown-content {
  display: block;
}

.template-container {
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center items horizontally */
  animation: fadeInFromTop 0.3s ease-in-out;
  gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal-width columns */
  grid-template-rows: repeat(3, 1fr);    /* Create 3 equal-height rows */
  gap: 20px; /* Add space between grid items */
}

.grid-item {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  border-radius: 10px; /* Add rounded corners */
  display: flex;
  justify-content: center; /* Center the button horizontally */
  align-items: center;     /* Center the button vertically */

}

.grid-item button {
  padding: 10px 20px;
  font-size: 1em;
  width: 100%; /* Make the buttons fill the width of the grid items */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  background: #4CAF50;
  color: #101211;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.grid-item button:hover {
  background-color: #03f481;
}


.settings-container {
  max-width: 800px;
  margin: 20px auto; /* Add top/bottom margin */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.settings-section {
  margin-bottom: 30px; /* Increase spacing between sections */
}

.setting-item {
  margin-bottom: 15px; /* Increase spacing between items */
}

.setting-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; /* Make labels bold */
}

.setting-item input[type="checkbox"],
.setting-item select {
  margin-right: 10px; /* Add space between checkbox/select and label */
}

/* Style the "Create Algorithm" button */
#createAlgoButton {
  background-color: #4CAF50; /* Green background color */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a transition effect */
}

#createAlgoButton:hover {
  background-color: #45a049; /* Slightly darker green on hover */
}
