body {
  font-family: 'Roboto', sans-serif;  /* A more modern sans-serif font */
  background-color: #101211; /* Light background color */
  color: #e0e0e6; /* Dark text color */
  line-height: 1.6; /* Improved readability */
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.container {
  width: 80%;
  margin: 50px auto; /* Increased top/bottom margin */
  padding: 30px;
  background-color: #101211; /* White background for the container */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  animation: fadeInFromTop 0.3s ease-in-out;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #e8e3e3; /* Darker heading color */
}

.input-group {
  display: flex;  /* Use flexbox for better control */
  align-items: center;  /* Align items vertically in the center */
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold; /* Bolder labels */
}

input[type="text"] {
  width: 30%;  /* Adjust the width as needed */
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 20px;
}

#suggestions-prix {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
}

#suggestions-prix li {
  padding: 5px;
  cursor: pointer;
}

#suggestions-prix li:hover {
  background-color: #f0f0f0;
}

button {
  background-color: #435465;
  color: white;
  padding: 8px 15px; /* Reduced padding */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.create-button {
  display: block;
  width: 100%;
  margin-top: 30px;
  font-size: 18px; /* Larger font size */
  background-color: #435465; /* Green button color */
}

.create-button:hover {
  background-color: #2c343f; /* Darker green on hover */
}

img {
  max-width: 100%; /* Ensure images don't exceed their container width */
  top: 50%;      /* Position halfway down the page */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Prevent image from overflowing its container */
  margin: 20px auto; /* Center the image and add some space around it */
  border-radius: 5px; /* Add rounded corners (optional) */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow (optional) */
}

/* Example media query for screens smaller than 768px */
@media (max-width: 768px) {
  .container {
    width: 95%; /* Make the container wider on small screens */
    padding: 20px;
  }

  .input-group {
    flex-direction: column; /* Stack input fields vertically */
    align-items: flex-start;
  }

  input[type="text"] {
    width: 100%; /* Make input fields full width */
    margin-bottom: 10px;
  }
}

#AlgorithmButton {
  display: block; /* Make the button a block-level element */
  position: relative;
  margin: 20px auto; /* Center horizontally, add vertical margin */
  z-index: 5; /* Ensure button is above image */
}

.content-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center items horizontally */
  animation: fadeInFromTop 0.3s ease-in-out;
}

#findMovieButton {
  order: 1; /* Change the order to position after the image */
  z-index: 5;
  top: 60px;
  position: relative; /* Position relatively within the flex container */
  padding: 20px 30px;
  font-size: 18px;
}

#image {
  order: 2;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #101211;
  padding: 20px;
}

