
@import url("main.css");
@import url("layout.css");
@import url("forms.css");
@import url("buttons.css");
@import url("movies.css");
@import url("dropdown.css");
@import url("animations.css");
@import url("login.css");

.setting-item-group {
  display: flex;
  gap: 15px; /* Space between inputs */
  align-items: center;
}

.setting-item-group .setting-item {
  flex: 1; /* Make both fields take up equal space */
  display: flex;
  flex-direction: column;
}

.loading {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #eae7e7;
}

.hidden {
  display: none;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

